<html>
  <head>
    <title>Message Details</title>
    <link rel="stylesheet" href="../style.css" type="text/css" />
  </head>
  <body>
    <h1> Message Details</h1>
    
    <div>
      <p> <%= message.user %> </p>
      <p> <%= message.text %> </p>
      <p> <%= message.added %> </p>
    </div>

    <button id="backToIndexButton" > 
      <a href="/"> Go Back
      </a>
    </button>

  </body>
</html>
