<div>
    
    <% for (let i = 0; i < messages.length; i++) { %>
      <ul class="messageBox"> <b> New Message </b>
        <li class="userText"> <%= messages[i].user %> </li>
        <li class="messageText"> <%= messages[i].text %> </li>
        <li class="DateText"> <%= messages[i].added %> </li>
      </ul>
      <button id="detailButton" > 
        <a href="/details/<%= messages[i].id %>"> Details 
        </a>
      </button>

    <% } %>
</div>