<html>
  <head>
    <title>Message details</title>
    <link rel="stylesheet" href="./style.css" type="text/css" />
  </head>
  <body>
    <h1> Message Details</h1>

    <form method="POST" action="/new">
        <label for="author"> Author </label>
        <input name="author"  type="text">
        <label for="message"> Message </label>
        <input name="message" type="text">
        <button type="submit"> Submit </button>
    </form>
     
  </body>
</html>
